@model IEnumerable<MezunBilgiSistemi.Models.Duyurular>
@{
    ViewData["Title"] = "Etkinlikler";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-12">

        <div class="panel panel-default" style="margin: 0px 90px 80px 90px;">
            <div class="panel-heading">
                Oğuzhan Öz Konseri
             
            </div>
            <div class="panel-body">
                <h6>Etkinlik Tarih:<b>15/01/1905</b></h6>
                <hr />
                <div class="col-lg-6 col-lg-6">
                    <p>
                        Tarih: 14 Temmuz 2021 Çarşamba  Saat: 21:00

                        Yer: MCBÜ Süleyman Demirel Kültür Merkezi
                    </p>


                </div>
                <div class="col-lg-6 col-lg-6">
                    <img src="~/images/duyurular/_anime.png"
                         class="img-fluid"
                         asp-append-version="true" />
                </div>
            </div>
    </div>


</div>

      </div>