@model IEnumerable<MezunBilgiSistemi.Models.Duyurular>
@{
    ViewData["Title"] = "Duyurular";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-12">

        <div class="panel panel-default" style="margin: 0px 90px 80px 90px;">
            <div class="panel-heading">
                2021 DGS Görev Tercihleri
            </div>
            <div class="panel-body">
                <h6>Duyuru Tarih:<b>15/01/1905</b></h6>
                <hr />
                <div class="col-lg-6 col-lg-6">
                    <p>
                        11 Temmuz 2021 Pazar günü yapılacak olan 2021 Dikey Geçiş Sınavında görev almak isteyen akademik ve idari personelimizin gis.osym.gov.tr web adresinden 28 Haziran 2021 Pazartesi günü saat:10.00’a kadar tercihlerini yapmaları gerekmektedir.

                        Prof.Dr. Mustafa KAZAZ

                        ÖSYM Manisa Sınav Koordinatörü



                        Sınav Adı : 2021 Dikey Geçiş Sınavı (2021 DGS)

                        Sınav Tarihi : 11.07.2021 Saat: 10:15

                        Sınav Süresi: 150 dk.
                    </p>


                </div>
                <div class="col-lg-6 col-lg-6">
                    <img src="~/images/duyurular/_anime.png"
                         class="img-fluid"
                         asp-append-version="true" />
                </div>
            </div>
    </div>


</div>

      </div>