
@{
    ViewData["Title"] = "Iletisim";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12 col-sm-12">
        <div class="panel panel-default" style="margin: 0px 90px 80px 90px;">
            <div class="panel-heading">
                İLETİŞİM
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <div class="one_quarter">
                            <h6 class="heading">İletişim için</h6>
                            <ul class="nospace linklist contact">
                                <li>
                                    <i class="fas fa-map-marker-alt"></i>
                                    Yağcılar, 45140 Yunusemre/Manisa
                                </li>
                                <li><i class="fas fa-phone"></i> (236) 201 10 00 </li>
                                <li><i class="fas fa-fax"></i>  (236) 237 24 42</li>
                                <li><i class="far fa-envelope"></i> celalbayaruniversitesi@hs01.kep.tr</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-12">
                        <div class="one_quarter" style="margin-top:20px;">
                            <h6 class="heading" >Bizi Takip Edin</h6>
                            <ul class="faico clear">
                                <li><a class="faicon-facebook" href="https://www.facebook.com/bayaredutr/"><i class="fab fa-facebook"></i></a></li>
                                <li><a class="faicon-linkedin" href="https://www.linkedin.com/school/celal-bayar-university/"><i class="fab fa-linkedin"></i></a></li>
                                <li><a class="faicon-twitter" href="https://twitter.com/bayaredutr/"><i class="fab fa-twitter"></i></a></li>
                                <li><a class="faicon-vk" href="https://www.youtube.com/channel/UCfflO6wLkLehLZyI3680pPQ/"><i class="fab fa-youtube"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
        </div>


    </div>

</div>