
@{
    ViewData["Title"] = "İş ve Staj Olanakları";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<div class="row">
    <div class="col-md-12 col-sm-12">
        <div class="panel panel-default" style="margin: 0px 90px 80px 90px;">
            <div class="panel-heading">
                DISCOVER THE TALENT|| 24-25 Mayıs 2021 (Online)
            </div>
            <div class="panel-body">
                <p>
                    Cras non facilisis mi. Vestibulum a suscipit urna. Praesent euismod sem ante, eget vulputate erat eleifend pellentesque. Vivamus tincidunt sem ut justo suscipit tincidunt. Phasellus facilisis laoreet odio sit amet facilisis. Vestibulum malesuada in orci a feugiat. Sed a sem egestas, porta risus ut, euismod ligula.

                    Phasellus id odio aliquet, accumsan libero quis, sodales tellus. Integer aliquet condimentum volutpat. Nunc libero lorem, imperdiet at vulputate in, aliquam vitae ex. Morbi dui enim, tincidunt sed posuere ac, condimentum accumsan ex. Pellentesque vel tortor a magna gravida varius eu nec arcu. Praesent et faucibus erat. Cras suscipit odio libero, vitae aliquam metus ultrices eget. Ut vitae imperdiet felis, nec dictum odio. Nunc tincidunt sem vitae nibh faucibus hendrerit. Vivamus ornare molestie leo, commodo facilisis eros. Praesent imperdiet accumsan laoreet.

                    Nulla sed aliquet nisi. Aliquam a ultricies tortor. In erat erat, commodo eu laoreet eget, tempor ut arcu. Suspendisse a libero ac leo pretium consectetur. Aenean ornare, nulla at ullamcorper elementum, tellus orci tristique arcu, at pretium nunc nisi ac lectus. Quisque nec nisl tellus. Proin sit amet lobortis metus. Curabitur interdum vel dui a tincidunt. Fusce non lobortis dolor, ut elementum leo. Praesent vel purus luctus, cursus dui eleifend, placerat felis. Cras facilisis, erat eget faucibus malesuada, ligula risus malesuada mi, eu lacinia quam enim sed magna. Nunc vehicula aliquet lacus venenatis posuere. In ultricies rhoncus metus eu sagittis.
                </p>
            </div>

        </div>
    </div>


</div>

