
@{
    ViewData["Title"] = "İş ve Staj Olanakları";
    Layout = "~/Views/Shared/_Layout.cshtml";
    
}
<div class="row">
    <div class="col-md-12 col-sm-12">
        <div class="panel panel-default" style="margin: 0px 90px 80px 90px;">
            <div class="panel-heading">
                İŞ VE STAJ OLANAKLARI
            </div>
            <div class="panel-body">
                <ul>
                    <li> <a asp-action="isveStajOlanakDetay" asp-controller="Home">DISCOVER THE TALENT|| 24-25 Mayıs 2021 (Online) </a></li>
                </ul>
                <ul>
                    <li> <a href="">İBB - Bölgesel İstihdam Ofisi || AR-GE Mühendisi/(05/2021) </a></li>
                </ul>
                <ul>
                    <li> <a href="">Evidea || TİCARET DEPARTMANI - KATEGORİ STAJYERİ (Zorunlu Staj 04/2021)</a></li>
                </ul>
                <ul>
                    <li> <a href="">Paycell || Mobile Application Developer (04/21) </a></li>
                </ul>
                <ul>
                    <li> <a href="">Çimsa || Genç Mühendislerini Arıyor!... (04/21) </a></li>
                </ul>
                <ul>
                    <li> <a href="">TOFAŞ KARİYER || Click4Career (05.04.2021 / 21:00)</a></li>
                </ul>
            </div>

        </div>
    </div>
    
   
</div>
